<div class="container mx-auto py-8 px-3 md:px-0">
  <div class="w-full max-w-md mx-auto bg-base-200 rounded-lg p-6">
    <h1 class="text-2xl font-bold text-center mb-6"><%= t('.title') %></h1>

    <%= form_with model: @user, url: password_reset_path(@token), method: :patch, class: 'px-4 md:px-8' do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="form-control mb-2">
        <%= f.label :email, class: "block text-accent mb-2"%>
        <%= @user.email %>
      </div>

      <div class="form-control mb-2">
        <%= f.label :password, class: "block text-accent mb-2" %>
        <div class="relative">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="absolute left-3 top-1/2 transform -translate-y-1/2 h-4 w-4 opacity-70 text-gray-500">
            <path
              fill-rule="evenodd"
              d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
              clip-rule="evenodd" />
          </svg>
          <%= f.password_field :password, class: "input input-bordered bg-white text-base-100 w-full pl-10", placeholder: 'Password', required: true %>
        </div>
      </div>

      <div class="form-control">
        <%= f.label :password_confirmation, class: "block text-accent mb-2" %>
        <div class="relative mb-6">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="absolute left-3 top-1/2 transform -translate-y-1/2 h-4 w-4 opacity-70 text-gray-500">
            <path
              fill-rule="evenodd"
              d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
              clip-rule="evenodd" />
          </svg>
          <%= f.password_field :password_confirmation, class: "input input-bordered bg-white text-base-100 w-full pl-10", placeholder: 'Confirm Password', required: true %>
        </div>
      </div>

      <div class="text-center">
        <%= f.submit class: "btn btn-primary text-white w-full rounded-full" %>
      </div>
    <% end %>
  </div>
</div>
