<div class="container mx-auto py-8">
  <div class="flex flex-wrap">
    <div class="w-full lg:w-10/12 lg:mx-auto">

      <h1 class="text-3xl font-bold text-white mt-4 mb-4"><%= @artist.name %></h1>

      <% if @data.present? %>
        <p><strong><%= t('artists.show.life_span') %></strong> : <%= @data["life-span"]["begin"] %> ~ <%= @data["life-span"]["end"] %></p>
        <p><strong><%= t('artists.show.country') %></strong> : <%= @data["country"] %></p>
      <% else %>
        <p><%= t('artists.show.details_not_available') %></p>
      <% end %>

      <h2 class="text-xl font-semibold mt-6 mb-2"><%= t('artists.show.releases') %></h2>

      <div class="flex justify-between items-center border-b p-4 mb-4">
        <div class="flex-1">
          <span class="font-semibold mr-8"><%= t('results.columns.title') %></span>
        </div>
        <div class="flex-1">
          <span class="font-semibold"><%= t('results.columns.format') %></span>
        </div>
      </div>

      <ul class="space-y-2">
        <% @releases.each do |release| %>
          <li class="p-2">
            <div class="flex items-center gap-x-8">
              <p class="flex-1 link link-hover">
                <%= link_to release.name, release_path(release) %>
              </p>
              <p class="flex-1">
                <% release.mediums.each_with_index do |medium, index| %>
                  <%= medium.medium_format ? medium.medium_format.name : " " %>
                  <%= "," unless index == release.mediums.size - 1 %>
                 <% end %>
              </p>
            </div>
          </li>
        <% end %>
      </ul>

      <div class="mt-6">
        <%= paginate @releases %>
      </div>
    </div>
  </div>
</div>
