<div class="container mx-auto py-6">
  <div class="flex flex-wrap">
    <div class="w-full lg:w-8/12 lg:mx-auto bg-base-200 rounded-lg p-8">
      <div class="text-center">
        <img src="<%= @image_url %>" class="object-cover aspect-[2/1] max-w-[780px] max-h-[400px] rounded-lg mx-auto mb-6" />
      </div>

      <div class="text-2xl text-white  font-bold my-6"><%= @shop.name %></div>

      <div class="text-white font-bold mb-2">
        <span class="i-majesticons-clock bg-primary w-4 h-4 mr-1" aria-hidden="true"></span>
        <%= t('shops.opening_hours') %>
      </div>
      <div class="text-accent mb-4"><%= @shop.opening_hours.gsub(', ', '<br>').html_safe %></div>

      <div class="text-white font-bold mb-2">
        <span class="i-bi-house-door-fill bg-primary w-4 h-4 mr-1" aria-hidden="true"></span>
        <%= t('shops.web_site') %>
      </div>
      <div class="text-accent link link-hover mb-4"><%= @shop.web_site %></div>

      <div class="text-white font-bold mb-2">
        <span class="i-bi-telephone-fill bg-primary w-4 h-4 mr-1" aria-hidden="true"></span>
        <%= t('shops.phone_number') %>
      </div>
      <div class="text-accent mb-4"><%= @shop.phone_number %></div>

      <div class="text-white font-bold mb-2">
        <span class="i-ion-location-sharp bg-primary w-5 h-5 mr-1" aria-hidden="true"></span>
        <%= t('shops.address') %>
      </div>
      <div class="text-accent">
        <div>〒<%= @shop.postal_code %></div>
        <div><%= @shop.address %></div>
      </div>
    </div>
  </div>
</div>
