<div class="container mx-auto">
  <div class="flex justify-center">
    <div class="w-full max-w-md">
      <h1 class="text-3xl font-bold text-center mb-4"><%= t('.title') %></h1>
      <%= form_with model: @user, class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' do |f| %>
        <div class="mb-4">
          <%= f.label :name, class: 'block text-gray-700 text-sm font-bold mb-2' %>
          <%= f.text_field :name, class: 'form-input mt-1 block w-full' %>
        </div>
        <div class="mb-4">
          <%= f.label :email, class: 'block text-gray-700 text-sm font-bold mb-2' %>
          <%= f.email_field :email, class: 'form-input mt-1 block w-full' %>
        </div>
        <div class="mb-4">
          <%= f.label :password, class: 'block text-gray-700 text-sm font-bold mb-2' %>
          <%= f.password_field :password, class: 'form-input mt-1 block w-full' %>
        </div>
        <div class="mb-6">
          <%= f.label :password_confirmation, class: 'block text-gray-700 text-sm font-bold mb-2' %>
          <%= f.password_field :password_confirmation, class: 'form-input mt-1 block w-full' %>
        </div>
        <div class="text-center">
          <%= f.submit class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
        </div>
      <% end %>
      <div class="text-center mt-4">
        <%= link_to t('.to_login_page'), login_path, class: 'text-sm text-gray-600 hover:text-gray-800' %>
      </div>
    </div>
  </div>
</div>
