<header>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <%= link_to "VinylLog", root_path, class: "btn btn-ghost text-xl" %>
    </div>
    <div class="flex justify-center items-center mx-4">
      <%= render 'shared/search_form', q: @q, url: search_path %>
    </div>
    <div class="flex-1 justify-end flex">
      <%= link_to t('header.search_shops'), shops_map_path, class: "btn btn-ghost" %>
      <%= link_to t('header.to_register_page'), new_user_path, class: "btn btn-ghost" %>
      <%= link_to t('header.login'), login_path, class: "btn btn-ghost" %>
    </div>
  </div>
</header>
