<div data-controller="menu">
  <header>
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <%= link_to "VinylLog", root_path, class: "btn btn-ghost text-xl" %>
      </div>
      <div class="flex justify-center items-center mx-4">
        <%= render 'shared/search_form', q: @q, url: search_path %>
      </div>

      <div class="flex-1 justify-end flex">
        <button data-action="menu#toggleMenu" class="btn btn-square btn-ghost" id="menuToggle">
          <span class="i-bi-justify bg-accent w-7 h-7" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </header>
  <div id="sidebar" class="fixed top-0 right-0 w-64 h-full bg-secondary transform translate-x-full transition-transform duration-300 ease-in-out z-50" data-menu-target="sidebar">
    <button data-action="menu#closeMenu" class="btn btn-square btn-ghost absolute right-2 top-2" id="closeMenu">
      <span class="i-bi-x-lg bg-accent w-4 h-4" aria-hidden="true"></span>
    </button>
    <div class="p-5">
      <ul>
        <li class="flex items-center p-2 pt-8">
          <span class="i-bi-house bg-primary w-4 h-4 mr-2" aria-hidden="true"></span>
          <%= link_to t('header.home'), root_path, class: "block" %>
        </li>
        <li class="flex items-center p-2">
          <span class="i-bi-shop bg-primary w-4 h-4 mr-2" aria-hidden="true"></span>
          <%= link_to t('header.search_shops'), map_shops_path, class: "block" %>
        </li>
        <li class="flex items-center p-2 pt-4">
          <span class="i-bi-person bg-primary w-4 h-4 mr-2" aria-hidden="true"></span>
          <%= link_to t('header.my_page'), my_page_path, class: "block" %>
        </li>
          <ul class="pl-4">
            <li class="flex items-center p-2">
              <span class="i-bi-vinyl bg-primary w-4 h-4 mr-2" aria-hidden="true"></span>
              <%= link_to t('my_interests.collection_list'), collection_items_path, class: "block" %>
            </li>
            <li class="flex items-center p-2">
              <span class="i-bi-arrow-through-heart bg-primary w-4 h-4 mr-2" aria-hidden="true"></span>
              <%= link_to t('my_interests.want_list'), want_items_path, class: "block" %>
            </li>
            <li class="flex items-center p-2">
              <span class="i-bi-bar-chart bg-primary w-4 h-4 mr-2" aria-hidden="true"></span>
              <%= link_to t('my_interests.records_reports'), records_path, class: "block" %>
            </li>
            <li class="flex items-center p-2">
              <span class="i-bi-bookmark bg-primary w-4 h-4 mr-2" aria-hidden="true"></span>
              <%= link_to t('my_interests.bookmarked_shops'), bookmarks_shops_path, class: "block" %>
            </li>
          </ul>
        </li>
        <li class="flex items-center p-2 pt-4">
          <span class="i-bi-box-arrow-up-right bg-primary w-4 h-4 mr-2" aria-hidden="true"></span>
          <%= link_to t('header.logout'), logout_path, method: :delete, data: { turbo_method: :delete }, class: "block" %>
        </li>
      </ul>
    </div>
  </div>
</div>
