<div class="container mx-auto py-8">
  <div class="w-full md:w-10/12 mx-auto">
    <h1 class="text-2xl font-bold text-center mt-2 mb-8"><%= t('records.report_show.title') %></h1>

    <div class="flex justify-center md:justify-start mx-4 mb-5">
      <%= link_to '◀︎', report_show_records_path(month: (@date.prev_month).strftime('%Y-%m')), class: "text-lg" %>
      <time datetime="<%= @date.strftime('%Y-%m') %>" class="text-xl mx-6"><%= t('date.month_names')[@date.month] %> <%= @date.year %></time>
      <%= link_to '▶︎', report_show_records_path(month: (@date.next_month).strftime('%Y-%m')), class: "text-lg" %>
    </div>

    <div class="flex flex-col mb-4 px-3 md:px-0 md:grid gap-4 grid-cols-2">
      <div class="p-6 md:p-10 w-full mx-auto bg-base-200 rounded-2xl">
        <h1 class="text-center font-bold mb-7"><%= t('records.report_show.top_artists') %></h1>
        <%= render 'shared/pie_chart' %>
      </div>

      <div class="p-6 md:p-10 w-full mx-auto bg-base-200 rounded-2xl">
        <h1 class="text-center font-bold mb-7"><%= t('records.report_show.top_records') %></h1>
        <% if @top_titles.any? %>
          <div class="overflow-x-scroll text-xs md:text-base">
            <% @top_titles.each do |result| %>
              <div class="scroll flex items-center py-1 font-medium justify-between w-full whitespace-nowrap">
                <div class="w-[500px]">
                  <p class="truncate mr-5">
                    <span class="i-bi-music-note bg-primary w-4 h-4 me-2" aria-hidden="true"></span>
                    <%= result.title_name %>
                  </p>
                </div>
                <div class="w-[300px]">
                  <p class="truncate pt-1 md:pt-0"><%= result.artist_name %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="text-center text-sm my-40 text-neutral-400">No data</p>
        <% end %>
      </div>
    </div>

    <div class="mx-3 md:mx-0">
      <div class="p-6 md:p-10 mx-auto bg-base-200 rounded-2xl">
        <h1 class="text-center font-bold mb-7"><%= t('records.report_show.daily_record_plays') %></h1>
        <%= line_chart @monthly_creation_count %>
      </div>
    </div>
  </div>
</div>
