<div class="container mx-auto py-8 px-3 md:px-0">
  <div class="w-full md:max-w-md mx-auto bg-base-200 rounded-lg p-8">
    <h1 class="text-2xl font-bold text-center mb-8"><%= t('.title') %></h1>

    <% if @record.items.any? %>
      <div class="mb-6">
        <div class="text-lg font-bold mb-4"><%= t('records.listened_records') %></div>
          <% @record.items.each do |item| %>
            <div class="mb-4">
              <div class="flex items-start mb-1">
                <span class="i-bi-music-note bg-primary w-4 h-4 mr-2 flex-shrink-0 mt-1" aria-hidden="true"></span>
                <div class="min-w-0 flex-1">
                  <div class="font-bold text-white break-words"><%= item.title.name %></div>
                  <div class="break-words">
                    <%= item.artist_name.name %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    <% end %>

    <div class="text-lg font-bold mb-2"><%= t('.comment') %></div>
    <% if @record.content.present? %>
      <div class="flex flex-wrap p-2 mb-4">
        <div class="w-full break-words">
          <%= simple_format(@record.content) %>
        </div>
      </div>
    <% else %>
      <div class="flex items-center justify-center p-2 mb-4">
        <div class="text-center text-accent text-sm"><%= t('.no_content') %></div>
      </div>
    <% end %>

    <div class="text-right mb-6"><%= @record.created_at.strftime("%Y/%m/%d %H:%M") %></div>

    <div class="flex justify-end space-x-2 mt-4">
      <%= link_to edit_record_path(@record) do %>
        <div class="tooltip" data-tip="<%= t('defaults.edit') %>">
          <span class="i-bi-pencil bg-primary w-5 h-5 mr-2" aria-hidden="true"></span>
        </div>
      <% end %>
      <%= link_to record_path(@record), data: { turbo_method: :delete, turbo_confirm: t('defaults.confirm_delete') } do %>
        <div class="tooltip" data-tip="<%= t('defaults.delete') %>">
          <span class="i-bi-trash3 bg-primary w-5 h-5 mr-2" aria-hidden="true"></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
