<div class="flex justify-center items-center">
  <div class="w-full max-w-md mx-auto bg-white shadow-md rounded-lg p-6">
    <div class="flex justify-center items-center">
      <h2 class="text-2xl font-bold text-center mb-8"><%= @record.created_at.strftime("%Y-%m-%d %H:%M") %></h2>
    </div>

    <% if @record.items.any? %>
      <div class="mb-4">
        <h3 class="text-lg font-bold mb-4"><%= t('records.daily_records.listened_records') %></h3>
        <ul>
          <% @record.items.each do |item| %>
            <li class="mb-4">
              <div class="flex items-center mb-1">
                <span class="i-bi-vinyl-fill bg-gray-600 w-4 h-4 mr-2" aria-hidden="true"></span>
                <span class="font-bold text-gray-600"><%= item.title.name %></span>
              </div>
              <div class="ml-6 text-gray-500">
                <%= item.artist_name.name %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h3 class="text-lg font-bold mb-4"><%= t('records.new.comment') %></h3>
    <div class="p-2 border rounded min-h-[5rem]">
      <%= simple_format(@record.content) %>
    </div>

    <div class="flex justify-end space-x-2 mt-4">
      <%= link_to edit_record_path(@record) do %>
        <div class="tooltip" data-tip="<%= t('helpers.submit.edit') %>">
          <span class="i-bi-pencil bg-black w-5 h-5 mr-2" aria-hidden="true"></span>
        </div>
      <% end %>
      <%= link_to record_path(@record), data: { turbo_method: :delete, turbo_confirm: t('records.confirm_delete') } do %>
        <div class="tooltip" data-tip="<%= t('helpers.submit.delete') %>">
          <span class="i-bi-trash3 bg-black w-5 h-5 mr-2" aria-hidden="true"></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
