<div class="container mx-auto">
  <div class="py-8 px-2">
    <h1 class="text-2xl font-bold text-center mt-2 mb-8"><%= t('my_interests.collection_list') %></h1>

    <%= search_form_for @items_search , url: collection_items_path, method: :get, class: "input input-bordered flex items-center w-full mx-2 md:w-1/3 mx-auto bg-accent text-base-200 mb-8" do |f| %>
      <%= f.search_field :title_name_or_artist_name_name_cont, class: "grow", placeholder: t('search.in_collection_list') %>
      <button type="submit">
        <span class="i-bi-search bg-secondary w-4 h-4" aria-hidden="true"></span>
      </button>
    <% end %>

    <div class="mx-2 md:mx-0">
      <% if @items.any? %>
        <div class="overflow-x-auto md:overflow-x-visible">
          <div class="min-w-[800px] md:w-full">
            <div class="flex justify-between items-center border-b py-2 mb-4">
              <div class="flex-1 font-semibold"><%= t('results.columns.title') %></div>
              <div class="flex-1 font-semibold"><%= t('results.columns.artist') %></div>
              <div class="flex-1 font-semibold"><%= t('items.index.tag') %></div>
              <div class="flex space-x-2 w-24 h-4"></div>
            </div>
    
            <% @items.each do |item| %>
              <div class="flex justify-between items-center w-full hover:bg-base-200 rounded-lg px-2">
                <%= link_to item_path(item), class: "flex-1 w-1/4 py-4" do %>
                  <div class="truncate mr-4">
                    <%= item.title.name %>
                  </div>
                <% end %>
                <%= link_to item_path(item), class: "flex-1 w-1/4 py-4" do %>
                  <div class="truncate mr-4">
                    <%= item.artist_name.name %>
                  </div>
                <% end %>
                <div class="flex-1 w-1/4 py-4">
                  <% item.tags.each do |tag| %>
                    <%= link_to tag.name, collection_tag_items_path(tag_id: tag.id), class: 'btn btn-xs btn-primary text-accent rounded-full' %>
                  <% end %>
                </div>
                <div class="flex space-x-2">
                  <%= link_to edit_item_path(item) do %>
                    <div class="tooltip ml-8" data-tip="<%= t('helpers.submit.edit') %>">
                      <span class="i-bi-pencil bg-primary w-4 h-4 mr-2" aria-hidden="true"></span>
                    </div>
                  <% end %>
                  <%= link_to soft_delete_item_path(item), data: { turbo_method: :patch, turbo_confirm: t('items.confirm_delete') } do %>
                    <div class="tooltip" data-tip="<%= t('helpers.submit.delete') %>">
                      <span class="i-bi-trash3 bg-primary w-4 h-4 mr-2" aria-hidden="true"></span>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="mt-6 flex flex-wrap justify-center">
          <%= paginate @items %>
        </div>
      <% else %>
        <div class="flex items-center justify-center py-20">
          <p class="text-center"><%= t('items.index.no_items') %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
