<div class="container mx-auto mt-8">
  <h1 class="text-2xl font-bold text-center mb-8"><%= t('my_interests.collection_list') %></h1>

  <%= search_form_for @q, url: collection_items_path, method: :get, class: "space-y-4" do |f| %>
    <div class="flex items-center">
      <%= f.search_field :title_name_or_artist_name_name_cont, placeholder: t('search.in_collection_list'), class: "input input-bordered w-full max-w-xs" %>
      <button type="submit" class="btn btn-primary ml-2">
        <img alt="Search" src="https://static.metabrainz.org/MB/search-52f8034.svg" class="w-4 h-4">
      </button>
      <%= render 'shared/add_item_btn' %>
    </div>
  <% end %>

  <% if @items.any? %>
    <div class="flex justify-between items-center border-b py-2 mb-4">
      <div class="flex-1">
        <span class="font-semibold"><%= t('results.columns.title') %></span>
      </div>
      <div class="flex-1">
        <span class="font-semibold"><%= t('results.columns.artist') %></span>
      </div>
      <div class="flex-1">
        <span class="font-semibold"><%= t('items.index.tag') %></span>
      </div>
    </div>

    <% @items.each do |item| %>
      <div class="flex justify-between items-center border-b py-2 mb-4 cursor-pointer" data-item-url="<%= item_path(item) %>">
        <div class="flex-1" onclick="redirectToItemUrl(this)">
          <span><%= item.title.name %></span>
        </div>
        <div class="flex-1" onclick="redirectToItemUrl(this)">
          <span><%= item.artist_name.name %></span>
        </div>
        <div class="flex-1">
          <% item.tags.each do |tag| %>
            <%= link_to tag.name, collection_tag_items_path(tag_id: tag.id), class: 'badge badge-primary' %>
          <% end %>
        </div>
        <div class="flex space-x-2">
          <%= link_to t('helpers.submit.edit'), edit_item_path(item), class: "btn btn-xs btn-primary" %>
          <%= link_to t('helpers.submit.delete'), item, method: :delete, data: { confirm: t('items.confirm_delete') }, class: "btn btn-xs btn-error" %>
        </div>
      </div>
    <% end %>
    <div class="mt-6">
      <%= paginate @items %>
    </div>
  <% else %>
    <p class="text-center"><%= t('items.index.no_items') %></p>
  <% end %>
</div>

<script>
  function redirectToItemUrl(element) {
    // ドロップダウンメニューの要素をクリックした場合は、この関数を実行しない
    if (!element.closest('.dropdown-content')) {
      event.stopPropagation();
      const itemUrl = element.closest('[data-item-url]').getAttribute('data-item-url');
      window.location.href = itemUrl;
    }

    // イベントの伝播を停止して、リンクのデフォルトの動作を防ぐ
    event.stopPropagation();

    // data-item-url属性からURLを取得してリダイレクト
    const itemUrl = element.closest('[data-item-url]').getAttribute('data-item-url');
    window.location.href = itemUrl;
  }
</script>
