<%= stylesheet_link_tag 'custom_styles', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container mx-auto py-8 px-3 md:px-0">
  <div class="w-full max-w-md mx-auto bg-base-200 rounded-lg p-6 md:p-8">
    <%= form_with model: @item, local: true do |form| %>
      <%= render 'shared/error_messages', object: form.object %>
      <% if params[:role] %>
        <%= form.hidden_field :role, value: params[:role] %>
      <% end %>
      <% if params[:role] == 'collection' %>
        <h2 class="text-2xl font-bold text-center mb-4"><%= t('items.new.create_collection') %></h2>
      <% elsif params[:role] == 'want' %>
        <h2 class="text-2xl font-bold text-center mb-4"><%= t('items.new.create_want') %></h2>
      <% end %>

      <div class="form-control">
        <%= form.label :title, class: "label" do %>
          <div class="flex items-center">
            <%= form.object.class.human_attribute_name(:title) %>
            <span class="text-red-500 ml-2">*</span>
          </div>
        <% end %>
        <%= form.text_field :title, value: @title || params[:title], class: "input input-bordered text-base-100", required: true %>
      </div>

      <div class="form-control">
        <%= form.label :artist_name, class: "label" do %>
          <div class="flex items-center">
            <%= form.object.class.human_attribute_name(:artist_name) %>
            <span class="text-red-500 ml-2">*</span>
          </div>
        <% end %>
        <%= form.text_field :artist_name, value: @artist_name || params[:artist_name], class: "input input-bordered text-base-100", required: true %>
      </div>

      <div class="form-control">
        <%= form.label :release_format, class: "label" %>
        <%= form.text_field :release_format, value: @release_format || params[:release_format], class: "input input-bordered text-base-100" %>
      </div>

      <div class="form-control">
        <%= form.label :press_country, class: "label" %>
        <%= form.text_field :press_country, value: @press_country || params[:press_country], class: "input input-bordered text-base-100" %>
      </div>

      <div class="form-control">
        <%= form.label :matrix_number, class: "label" %>
        <%= form.text_field :matrix_number, value: @item.matrix_number&.number || params[:item]&.fetch(:matrix_number, nil), class: "input input-bordered text-base-100" %>
      </div>

      <div class="form-control">
        <%= form.label :condition, class: "label" %>
        <%= form.select :condition_id,
                        @conditions.map { |condition| [condition.grade, condition.id] }, {include_blank: true},
                        {class: "select select-bordered text-base-100"} %>
      </div>

      <div data-controller="item-new">
        <div class="form-control">
          <%= form.label :accessories, t('activerecord.attributes.item.accessories'), class: "label" %>
          <%= form.select :accessory_ids, 
                          @accessories.map { |accessory| [accessory.name, accessory.id] }, {}, 
                          { class: "select2 text-base-100", multiple: true } %>
        </div>
      </div>

      <div class="form-control">
        <%= form.label :tag, class: "label" %>
        <%= form.text_field :tag, value: @item.tag_names, placeholder: t('items.placeholder.tag_input'), class: "input input-bordered text-base-100" %>
      </div>

      <div class="form-control">
        <%= form.label :user_note, class: "label" %>
        <%= form.text_area :user_note, value: @item.user_note, class: "textarea textarea-bordered text-base-100" %>
      </div>

      <div class="flex justify-center mt-6">
        <%= form.submit t('helpers.submit.submit'), class: "btn btn-primary text-white w-full rounded-full" %>
      </div>
    <% end %>
  </div>
</div>
