<div class="w-full max-w-md mx-auto py-8">
  <h1 class="text-2xl font-bold text-center mb-8">
    <% if @item.collection? %>
      <%= t('items.show.collection_show') %>
    <% elsif @item.want? %>
      <%= t('items.show.want_show') %>
    <% end %>
  </h1>

  <div class="text-xl mb-1 font-bold text-white">
    <%= @item.title&.name %>
  </div>

  <div class="mb-4 font-bold text-accent">
    <%= @item.artist_name&.name %>
  </div>

  <div class="grid grid-cols-2 gap-4 items-start py-1 rounded-lg text-accent bg-secondary">
    <span><%= t('results.columns.format') %></span>
    <span><%= @item.release_format&.name %></span>
  </div>

  <div class="grid grid-cols-2 gap-4 items-start py-1 text-accent">
    <span><%= t('releases.show.press_country') %></span>
    <span><%= @item.press_country&.name %></span>
  </div>

  <div class="grid grid-cols-2 gap-4 items-start py-1 rounded-lg text-accent bg-secondary">
    <span><%= t('items.show.matrix_number') %></span>
    <span><%= @item.matrix_number&.number %></span>
  </div>

  <div class="grid grid-cols-2 gap-4 items-start py-1 text-accent">
    <span><%= t('items.show.condition') %></span>
    <span><%= @item.condition&.grade %></span>
  </div>

  <div class="grid grid-cols-2 gap-4 items-start py-1 rounded-lg text-accent bg-secondary">
    <span><%= t('items.show.accessory') %></span>
    <div>
      <% @item.accessory_names.split(',').each do |accessory_name| %>
        <span class="badge badge-base-100"><%= accessory_name.strip %></span>
      <% end %>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 items-start py-1 text-accent">
    <span><%= t('items.index.tag') %></span>
    <div>
      <% @item.tags.each do |tag| %>
        <span class="badge badge-secondary"><%= tag.name %></span>
      <% end %>
    </div>
  </div>

  <div class="mb-4 py-1 text-accent">
    <%= t('items.show.user_note') %>
    <div class="p-2 rounded min-h-[5rem] overflow-y-auto rounded-lg bg-secondary">
      <%= simple_format(@item.user_note) %>
    </div>
  </div>

  <div class="flex justify-end space-x-2 mt-4">
    <%= link_to edit_item_path(@item) do %>
      <div class="tooltip" data-tip="<%= t('helpers.submit.edit') %>">
        <span class="i-bi-pencil bg-primary w-5 h-5 mr-2" aria-hidden="true"></span>
      </div>
    <% end %>
    <%= link_to item_path(@item), data: { turbo_method: :delete, turbo_confirm: t('items.confirm_delete') } do %>
      <div class="tooltip" data-tip="<%= t('helpers.submit.delete') %>">
        <span class="i-bi-trash3 bg-primary w-5 h-5 mr-2" aria-hidden="true"></span>
      </div>
    <% end %>
  </div>
</div>
