<div class="container mx-auto mt-8">
  <h1 class="text-2xl font-bold text-center mb-8"><%= t('my_interests.wantlist') %></h1>

  <%= search_form_for @q, url: want_items_path, method: :get, class: "space-y-4" do |f| %>
    <div class="flex items-center">
      <%= f.search_field :title_name_or_artist_name_name_cont, placeholder: t('search.in_want_list'), class: "input input-bordered w-full max-w-xs" %>
      <button type="submit" class="btn btn-primary ml-2">
        <img alt="Search" src="https://static.metabrainz.org/MB/search-52f8034.svg" class="w-4 h-4">
      </button>
      <%= render 'shared/add_item_btn' %>
    </div>
  <% end %>

  <% if @items.any? %>
    <div class="flex justify-between items-center border-b py-2 mb-4">
      <div class="flex-1">
        <span class="font-semibold"><%= t('results.columns.title') %></span>
      </div>
      <div class="flex-1">
        <span class="font-semibold"><%= t('results.columns.artist') %></span>
      </div>
      <div class="flex-1">
        <span class="font-semibold"><%= t('items.index.tag') %></span>
      </div>
    </div>

    <% @items.each do |item| %>
      <div class="flex justify-between items-center border-b py-2 mb-4">
        <div class="flex-1">
          <%= link_to item.title.name, item_path(item) %>
        </div>
        <div class="flex-1">
          <%= link_to item.artist_name.name, item_path(item) %>
        </div>
        <div class="flex-1">
          <% item.tags.each do |tag| %>
            <%= link_to tag.name, collection_tag_items_path(tag_id: tag.id), class: 'badge badge-primary' %>
          <% end %>
        </div>
        <div class="flex space-x-2">
          <%= link_to t('helpers.submit.move_to_collection'), move_to_collection_item_path(item), data: { turbo_method: :patch }, class: "btn btn-xs btn-primary" %>
          <%= link_to t('helpers.submit.edit'), edit_item_path(item), class: "btn btn-xs btn-primary" %>
          <%= link_to t('helpers.submit.delete'), item_path(item), class: "btn btn-xs btn-error", data: { turbo_method: :delete, turbo_confirm: t('items.confirm_delete') } %>
        </div>
      </div>
    <% end %>
    <div class="mt-6">
      <%= paginate @items %>
    </div>
  <% else %>
    <p class="text-center"><%= t('items.index.no_items') %></p>
  <% end %>
</div>
