<div class="container mx-auto py-8 px-3 md:px-0">
  <div class="w-full md:w-10/12 mx-auto">

    <h1 class="text-xl md:text-2xl font-bold text-white mt-4 mb-2"><%= @release.name %></h1>
    <div class="text-lg md:text-xl mb-4"><%= @release.artist_credit.name %></div>

    <% if @data.present? %>
      <div class="mb-4 flex justify-between">
        <div>
          <% if @release.mediums.any? %>
            <% @release.mediums.each do |medium| %>
              <% if medium.medium_format.present? %>
                <div class="text-sm md:text-base"><%= t('defaults.format') %> : <%= medium.medium_format.name %></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="text-sm md:text-base"><%= t('defaults.format') %> : <%= " " %></div>
          <% end %>
          <div class="text-sm md:text-base"><%= t('.release_date') %> : <%= @data["date"] %></div>
          <div class="text-sm md:text-base"><%= t('.press_country') %> : <%= @data["country"] %></div>
          <div class="text-sm md:text-base"><%= t('.status') %> :  <%= @data["status"] %></div>
        </div>
        <div class="flex flex-col items-end space-y-2">
          <%= link_to new_item_path(role: 'collection', 
                                    title: @release.name, 
                                    artist_name: @release.artist_credit.name, 
                                    release_format: @release.mediums.find { |m| m.medium_format.present? }&.medium_format&.name, 
                                    press_country: @data["country"]), 
                      class: "btn btn-primary btn-block text-white" do %>
            <%= t('.add_to_collection') %>
          <% end %>

          <%= link_to new_item_path(role: 'want', 
                                    title: @release.name, 
                                    artist_name: @release.artist_credit.name, 
                                    release_format: @release.mediums.find { |m| m.medium_format.present? }&.medium_format&.name, 
                                    press_country: @data["country"]), 
                      class: "btn btn-primary btn-block text-white" do %>
            <%= t('.add_to_wishlist') %>
          <% end %>
        </div>
      </div>

      <% if @data["media"].present? %>
        <% @data["media"].each do |media| %>
          <div class="mb-4 border-b">
            <p><strong><%= t('.track_count') %></strong> : <%= media["track-count"] %></p>
          </div>

          <div class="ml-2 md:ml-4 mb-2">
            <div class="text-base md:text-lg font-bold mb-2"><%= t('.track_list') %></div>
            <ol class="list-decimal ml-6">
              <% media["tracks"].each do |track| %>
                <li class="text-sm md:text-base"><%= track["title"] %></li>
              <% end %>
            </ol>
          </div>
        <% end %>
      <% else %>
        <p class="text-center text-sm md:text-base py-20"><%= t('.track_not_available') %></p>
      <% end %>
    <% else %>
      <p class="text-center text-sm md:text-base py-20"><%= t('.details_not_available') %></p>
    <% end %>
  </div>
</div>
